<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <div class="form--devise form__section">
    <div class="input-group">
      <%= f.email_field :email, :autofocus => true, :class => 'input input--full', :placeholder => 'Email' %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    
    <div class="input-group">
      <%= f.password_field :current_password, :class => 'input input--full', :placeholder => 'Current Password' %>
    </div>

    <div class="input-group">
      <%= f.password_field :password, :autocomplete => "off", :class => 'input input--full', :placeholder => 'New Password' %>
    </div>

    <div class="input-group">
    <%= f.password_field :password_confirmation, :class => 'input input--full', :placeholder => 'Confirm Password' %>
    </div>

    <div class="input-group">
    <div class="select select--country">
      <%= f.select :country_id, options_from_collection_for_select(Country.all, 'id', 'name', current_user.country_id) %>
      <i class="icon-caret-down select__arrow"></i>
    </div>
    </div>

    <div class="btn-group btn-group--right"><%= f.submit "Update", :class => 'btn btn--primary' %></div>
  </div>
<% end %>