<div class="l-wrapper">

  <div class="l-main">

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-devise'}) do |f| %>
    <h2>Sign up</h2>
    
    <%= devise_error_messages! %>

    <div class="form__section">
      <div class="input-group">
        <%= f.text_field :first_name, :autofocus => true, :type => 'text', :placeholder => 'First name' %>
        <%= f.text_field :last_name, :type => 'text', :placeholder => 'Last name' %>
      </div>
    </div>

    <div class="form__section">
      <div class="input-group">
        <%= f.email_field :email, :type => 'text', :class => 'input--full', :placeholder => 'Email' %>
      </div>
    </div>

    <div class="form__section">
      <div class="input-group">
        <%= f.password_field :password, :class => 'input--full', :placeholder => 'Password' %>
      </div>
    </div>

    <div class="form__section">
      <div class="input-group">
        <%= f.password_field :password_confirmation, :class => 'input--full', :placeholder => 'Confirm Password' %>
      </div>
    </div>

    <div class="form__section">
      <div class="input-group">
        <div class="select select--full hrng">
          <%= f.text_field :pcv_id, :type => 'text', :placeholder => 'PCV ID' %>
          <%= f.text_field(:city, :type => 'text', :placeholder => 'CITY') %>
        </div>
      </div>
    </div>

    <div class="form__section">
      <div class="input-group">
        <div class="select select--full hrng">
          <%= f.select(:country_id, ["Country", ""] + Country.all.map { |c| [c.name.titleize, c.id] }) %>
          <i class="icon-caret-down select__arrow"></i>
        </div>
      </div>
    </div>

    <div class="btn-group">
      <%= f.submit "Sign up", :class => 'btn btn--primary' %>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>

</div>
