Your Order Has Been Fufilled
==============================================

Your order of: 

<%= @order.requests.each do |request|
    "#{request.qty} #{request.supply.name}; \n"
          end %>

has successfully been filled. Please follow the attached instructions:
<%= @order.instruction %>