<div class="l-wrapper">

  <div class="l-main">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :class => 'form-devise', :method => :post }) do |f| %>
      <h2>Forgot your password?</h2>
      
      <%= devise_error_messages! %>

      <div class="form__section">
        <div class="input-group">
          <%= f.email_field :email, :autofocus => true, :placeholder => 'Email', :class => 'input--full', :type => :text %>
        </div>
      </div>

      <div class="btn-group">
        <%= f.submit "Send me reset password instructions", :class => 'btn btn--primary' %>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>

  </div>
</div>
