<div class="l-wrapper">

  <div class="l-main">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-devise'}) do |f| %>
      <h2>Sign in</h2>
    
      <%= devise_error_messages! %>

      <div class="form__section">
        <div class="input-group">
          <%= f.email_field :email, :autofocus => true, :placeholder => 'Email', :class => 'input--full', :type => :text %>
        </div>
      </div>

      <div class="form__section">
        <div class="input-group">
          <%= f.password_field :password, :placeholder => 'Password', :class => 'input--full' %>
        </div>
      </div>

      <div class="btn-group">
        <%= f.submit "Sign in", :class => 'btn btn--primary' %>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>

  </div>
</div>
